# 3 Combining & Exporting Data

## Table of contents
1. [Importing Libraries & Data](#imports)
2. [orders_products_prior data frame](#paragraph1)
    1. [Merge](#subparagraph1)
    2. [Export](#subparagraph2)
3. [orders_products_combined data frame](#paragraph2)
    1. [Import](#subparagraph3)
    2. [Merge](#subparagraph4)
    3. [Export](#subparagraph4)

### 1. Importing Libraries & Data <a name="imports"></a>

In [1]:
# Importing pandas, numpy and os libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Turning project folder path into a string
path = r'C:\Users\deuts\Desktop\Instacart Basket Analysis'

# Importing 'orders_products_combined.csv'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'))

# Importing 'orders.csv'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'))

In [3]:
# Displaying column names of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
# Displaying column names of df_ords
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords.shape

(3421083, 7)

### 2. orders_products_prior data frame <a name="paragraph1"></a>

### 2.1 Merge <a name="subparagraph1"></a>

In [ ]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
df_merged_large.head()

In [ ]:
df_merged_large['_merge'].value_counts()

### 2.2 Export <a name="subparagraph2"></a>

In [ ]:
# Exporting data to csv
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))
# Exporting data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

### 3. orders_products_combined data frame <a name="paragraph2"></a>

### 3.1 Import <a name="subparagraph2"></a>

In [7]:
# Importing 'orders_products_combined.csv'
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
# Checking columns of orders_products_combined.pkl
orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
# Checking shape of orders_products_combined.pkl
orders_products_combined.shape

(32434489, 10)

In [10]:
# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'))
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
# Checking shape of products data frame
df_prods.shape

(49672, 6)

In [12]:
# Removing '_merge' column 
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

### 3.2 Merge <a name="subparagraph3"></a>

In [13]:
# Merging products and orders data frames
df_orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [14]:
# Displaying Columns of merged orders and products data frame 
df_orders_products_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [15]:
# Checking merge flag of merged data frame
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
# Checking shape of merged data frame
df_orders_products_merged.shape

(32404859, 15)

### 3.3 Export <a name="subparagraph4"></a>

In [ ]:
# Export data to pkl
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))